# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Node & Cloudflare Workers
node_modules/
**/node_modules/
.wrangler/
**/.wrangler/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.dev.vars
.dev.vars.*

# IntelliJ & VSCode related
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Keystores & sensitive credentials
*.keystore
*.jks
key.properties
local.properties

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release
